{% extends "base.html" %}

{% block title %}{{ cancer_type }}{% endblock %}

{% block content %}
<div class="cancer-info">
    <h1>{{ cancer_type }}</h1>
    <h2>Description</h2>
    <p>{{ description }}</p>

    <h2>Facts</h2>
    <ul>
        {% for fact in facts %}
        <li>{{ fact }}</li>
        {% endfor %}
    </ul>

    <h2>Related Articles</h2>
    <ul>
        {% for article in articles %}
        <li>      
                {{ article.title }} 
                {{ article.summary}} 
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}